spring-integration-module/org.acme.echo/src/main/resources/META-INF/org/acme/echo/module/config/echo-1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.acme.org/schema/echo"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:tool="http://www.springframework.org/schema/tool"
	xmlns:integration="http://www.springframework.org/schema/integration"
	targetNamespace="http://www.acme.org/schema/echo"
	elementFormDefault="qualified" attributeFormDefault="unqualified">

	<xsd:import namespace="http://www.springframework.org/schema/beans" />
	<xsd:import namespace="http://www.springframework.org/schema/integration"
		schemaLocation="http://www.springframework.org/schema/integration/spring-integration-2.0.xsd" />

	<xsd:element name="outbound-gateway">
		<xsd:annotation>
			<xsd:documentation><![CDATA[
				Echo outbound gateway
			]]></xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			
			<xsd:attribute name="id" type="xsd:string" use="required"/>
			<xsd:attribute name="request-channel" use="required" type="xsd:string">
				<xsd:annotation>
					<xsd:appinfo>
						<tool:annotation kind="ref">
							<tool:expected-type type="org.springframework.integration.MessageChannel" />
						</tool:annotation>
					</xsd:appinfo>
					<xsd:documentation>
	            	Identifies channel on which this gateway will receive the request Message
	            </xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="reply-channel" use="required" type="xsd:string">
				<xsd:annotation>
					<xsd:appinfo>
						<tool:annotation kind="ref">
							<tool:expected-type type="org.springframework.integration.MessageChannel" />
						</tool:annotation>
					</xsd:appinfo>
					<xsd:documentation>
	            	Identifies channel to which this gateway will send the reply Message
	            </xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="auto-startup" type="xsd:string" default="true">
				<xsd:annotation>
					<xsd:documentation>
					Lifecycle attribute signaling if this component should be started during Application Context startup.
					Default is 'true'
					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>

</xsd:schema>